bower_components/
node_modules/


bundle/bundle.out.js

.vscode/
.idea/
*.iml
my.env

*.env
static/bower_components/
.*.sw?
.DS_Store

.vagrant
/iisnode

# istanbul output
coverage/

npm-debug.log
*.heapsnapshot

/tmp
.github/desktop.ini
.github/ISSUE_TEMPLATE/desktop.ini
bin/desktop.ini
bundle/desktop.ini
desktop.ini
docs/desktop.ini
docs/plugins/desktop.ini
docs/plugins/maker-setup-images/desktop.ini
lib/admin_plugins/desktop.ini
lib/api/activity/desktop.ini
lib/api/alexa/desktop.ini
lib/api/desktop.ini
lib/api/devicestatus/desktop.ini
lib/api/entries/desktop.ini
lib/api/experiments/desktop.ini
lib/api/food/desktop.ini
lib/api/profile/desktop.ini
lib/api/treatments/desktop.ini
lib/authorization/desktop.ini
lib/client/desktop.ini
lib/data/desktop.ini
lib/desktop.ini
lib/middleware/desktop.ini
lib/plugins/desktop.ini
lib/report_plugins/desktop.ini
lib/server/desktop.ini
lib/storage/desktop.ini
static/admin/desktop.ini
static/admin/js/desktop.ini
static/audio/desktop.ini
static/colorbrewer/desktop.ini
static/css/desktop.ini
static/css/ui-darkness/desktop.ini
static/css/ui-darkness/images/desktop.ini
static/css/ui-lightness/desktop.ini
static/css/ui-lightness/images/desktop.ini
static/desktop.ini
static/font/desktop.ini
static/food/desktop.ini
static/food/js/desktop.ini
static/glyphs/css/desktop.ini
static/glyphs/desktop.ini
static/glyphs/font/desktop.ini
static/images/desktop.ini
static/js/desktop.ini
static/mfb/desktop.ini
static/mfb/lib/desktop.ini
static/profile/desktop.ini
static/profile/js/desktop.ini
static/radio/desktop.ini
static/radio/js/desktop.ini
static/report/css/desktop.ini
static/report/desktop.ini
static/report/js/desktop.ini
static/translations/desktop.ini
static/translations/js/desktop.ini
testing/desktop.ini
tests/desktop.ini
tests/fixtures/desktop.ini
tests/fixtures/openaps-storage/cgm-loop/desktop.ini
tests/fixtures/openaps-storage/cgm-loop/monitor/desktop.ini
tests/fixtures/openaps-storage/desktop.ini
tests/fixtures/openaps-storage/loop/desktop.ini
tests/fixtures/openaps-storage/loop/monitor/desktop.ini
tests/fixtures/openaps-storage/loop/nightscout/desktop.ini
views/desktop.ini
